@charset "UTF-8";

body {
	margin: 0px;
	padding: $rythm $rythm $rythm $rythm + $navWidth;
	font-size: 16px;
	line-height: $lineHeight;
	font-family: $fontText;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: $lineHeight;
	margin: 0px;
	padding: 0px;
}

h1, header {
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
	font-weight: bold;
	font-family: $fontBig;
	color: #111111;
}

h2 {
	font-size: 1.5em;
	line-height: $lineHeight;
	margin-bottom: $lineHeight;
	margin-top: 2 * $lineHeight;
	font-weight: bold;
	font-family: $fontBig;
	color: #111111;
}

p, ul, ol, pre, table {
	margin: 0px 0px $lineHeight;
}

p {
	@include hyphens;
}

ul, ol {
	& & {
		margin-bottom: 0px;
	}
}

pre {
	@include box-sizing(border-box);
	
	font-family: $fontCode;
	padding: $rythm;
	border: 1px solid #999999;
	background: rgba(0, 0, 0, .02);
	overflow-x: scroll;
}

table {
	border-spacing: 0px;
	width: 100%;
	
	th, td {
		text-align: left;
		padding: .25 * $rythm $rythm;
		vertical-align: top;
	}
	
	tbody tr:nth-child(odd) td {
		background: #f0f0f0;
	}
}

a {
	color: inherit;
	outline: none;
	
	&:hover, &:active, &:focus {
		opacity: .8;
	}
}

nav {
	margin-bottom: $lineHeight;
	
	ul, li {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	
	li li {
		padding-left: $rythm;
	}
	
	a {
		display: block;
		text-decoration: none;
		margin: 0px -1 * $rythm;
		padding: .25 * $rythm $rythm;
		
		&.active {
			background: rgba(0, 0, 0, .05);
		}
		
		&:hover, &:active, &:focus {
			opacity: 1;
			background: rgba(0, 0, 0, .1);
		}
		
		&.sub {
			&::before {
				content: "▸ ";
			}
			
			&.active {
				&::before {
					content: "▾ ";
				}
			}
		}
	}
}

%input {
	@include box-sizing(border-box);
	
	display: block;
	padding: .5 * $rythm $rythm;
	border: 1px solid #999999;
	background: #fbfbfb;
	outline: none;
	font-family: inherit;
	font-size: 1em;
	line-height: $lineHeight;
	
	&:hover, &:active, &:focus {
		border-color: #666666;
		background: #f5f5f5;
	}
}

form {
	.input {
		margin-bottom: $rythm;
		
		&:not(.checkbox):not(.radio) {
			label {
				display: block;
			}
			
			input, textarea {
				@extend %input;
				
				width: 100%;
			}
			
			textarea {
				height: 8 * $lineHeight;
				resize: vertical;
			}
		}
	}
	
	.submit {
		margin-bottom: $rythm;
		
		button {
			@extend %input;
			
			cursor: pointer;
		}
	}
}

#sidebar {
	@include box-sizing(border-box);
	
	width: $navWidth;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	padding: $rythm;
	background: #f0f0f0;
	
	footer {
		position: absolute;
		left: $rythm;
		right: $rythm;
		bottom: $rythm;
	}
}

#message {
	text-align: center;
	padding: $rythm;
	background: #fbfbfb;
	color: #333333;
	border: 1px solid #999999;
	margin-bottom: 2 * $rythm;
	
	&.error {
		background: #f0dddd;
	}
	
	&.success {
		background: #ddf0dd;
	}
}

#content {
	max-width: 640px;
}

ul.changelog {
	&, li {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	
	li {
		padding-left: $rythm;
		position: relative;
		
		&::before {
			content: "*";
			position: absolute;
			left: .25 * $rythm;
			top: 0px;
		}
		
		&.added::before {
			content: "+";
		}
		
		&.removed::before {
			content: "-";
		}
	}
}