$rythm: 20px;
$lineHeight: (20 / 16) * 1em;
$navWidth: 300px;

$fontCode: "Courier New", Courier, monospace;
$fontText: Georgia, serif;
$fontBig: Tahoma, Geneva, sans-serif;

$colorDarkGray: rgb(15, 19, 25);
$colorLightGray: rgb(240, 240, 240);
$colorError: #991111;
$colorSuccess: #119911;